/* Form.css */

/* Default styling for form */

.form{
  min-height: 100vh;
  background: url('https://cutewallpaper.org/28/crowd-background-wallpaper-images/497626052.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: end; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-title{
  color: white;
  font-size: 32px;
}

.times{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.f1 {
  min-width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  background-color: #fff;
  margin: 8px;
}

/* Heading style */
.heading {
  font-weight: bold;
  /* margin: 10px 0; */
}

/* Input field style */
.entry {
  width: 100%;
  padding: 10px;
  /* margin: 5px 0; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button style */
button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  width:100%;
  height: auto;
}

.react-calendar{
  border-radius: 8px;
  padding: 4px;
}

@media screen and (max-width:1000px) {
  .form-title{
    /* font-size: 32px; */
  }
  .f1{
    width: 60vw;
    font-size: 24px;
  }
}

@media screen and (max-width:500px){
  .f1{
    /* width: 100%; */
    height: 100%;
    font-size: large;
  }
}
