/* ehall.css */

/* Base styles for larger screens */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.heading {
  flex: 1;
  text-align: center;
}

.ehall {
  font-size: 24px;
  font-weight: bold;
  /* height:100px; */
}

.image {
  flex: 1;
  text-align: center;
}

.img {
  max-width: 30vmax;
  height: 25vmax;
}

/* Responsive styles for smaller screens (e.g., tablets and mobile) */
@media screen and (max-width: 768px) {
  .main {
    flex-direction: row;
  }

  .heading,
  .image {
    flex: none;
  }

  .ehall {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .ehall {
    font-size: 18px;
  }
}
.click {
  height: 30%;
  width: 30%;
  font-size: 26px;
  padding: 7px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  margin: 20px 0px;
}
.click:active {
  transform: translateY(4px);
}
