.min-calendar{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(188, 188, 255);
}

.calendar-header{
  margin: 1rem;
  font-size: 36px;
  font-family:monospace;
}

.calendar-header p{
  margin: 0;
}
