.main-calendar{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('https://img.freepik.com/free-vector/black-carbon-fiber-texture-pattern-background_1017-33436.jpg?size=626&ext=jpg&ga=GA1.1.44588804.1698847185&semt=ais');
  background-size: cover;
  padding: 1rem 0;
}

.calendar-header{
  margin: 1rem;
  text-align: center;
  font-size: 36px;
  font-family:cursive;
}

.calendar-iframe{
  width: 75vw;
  height: 45rem;
}

.calendar-header p{
  margin: 0;
  font-size: 20px;
}

/* @media screen and (max-width:800px) {
  .calendar-iframe{
    height: 400px;
  }
} */
